${if_up IFACE}^i($HOME/.dzen/icons/ICON.xbm)^i($HOME/.dzen/icons/down.xbm)${downspeedf IFACE}k ^i($HOME/.dzen/icons/up.xbm)${upspeedf IFACE}k ${endif}
