# turn off system beep
set bell-style none

# like ls -F for completion
set visible-stats on

tab: complete

# use vi for everything! :)
set editing-mode vi

# stay on the home row away from the arrow keys
"\C-h": backward-char
"\C-l": forward-char

$if mode=vi
  # this block adds mappings for vi-command mode
  set keymap vi-command

  # these search the history using the text before the cursor
  "\C-k": history-search-backward
  "\C-j": history-search-forward

  "\C-h": backward-char
  "\C-l": forward-char

  # this block adds mappings for vi-insert mode
  set keymap vi-insert

  # these search the history using the text before the cursor
  "\C-k": history-search-backward
  "\C-j": history-search-forward
$endif

# include another inputrc file
#$include /etc/inputrc
