! xrdb -load ~/.Xresources

! Options {{{

! fixes gtk font sizes (issue triggered by dual monitors?)
Xft.dpi: 96.0

*background: #1a1a1a
*foreground: #cccccc

! note: do not forget to update .vimrc cursor color changing based on mode.
*cursorColor: #ac7d00
*cursorColor2: #000000

*geometry: 125x30
*saveLines: 4096
*visualBell: true

! use xfontsel to find font in this format.
dzen2*font: -*-terminus-*-r-normal-*-11-120-*-*-*-*-iso8859-*
dzen2*background: #232323
dzen2*foreground: #7e7e7e

URxvt*meta8: true
URxvt*scrollstyle: plain
URxvt*scrollBar: false
URxvt*urgentOnBell: true
URxvt*visualBell: false

! (package: ttf-dejavu)
! (package: adobe-source-han-sans-otc-fonts for various foreign langs w/ symbols)
URxvt*font: xft:DejaVu Sans Mono:pixelsize=12,\
            xft:Kochi Gothic:antialias=false,\
            xft:Baekmuk Gulim

xmessage*minHeight: 200
xmessage*minWidth: 500
xmessage*maxHeight: 600
xmessage*maxWidth: 800

xterm*font:     -misc-fixed-medium-r-normal--13-120-*-*-c-80-*-*
xterm*boldFont: -misc-fixed-bold-r-normal--13-120-*-*-c-80-*-*

! }}}

! Colors {{{

*colorBD: #acacac

! black
*color0:  #111111
! red
*color1:  #964848
! green
*color2:  #789978
! yellow
*color3:  #cfcf7c
! blue
*color4:  #708090
! magenta
*color5:  #875f87
! cyan
*color6:  #4e9585
! white
*color7:  #acacac
! bright black
*color8:  #444444
! bright red
*color9:  #a25757
! bright green
*color10: #91b791
! bright yellow
*color11: #bfbf6f
! bright blue
*color12: #808ba1
! bright magenta
*color13: #cf9ebe
! bright cyan
*color14: #56a291
! bright white
*color15: #aeaeae

! }}}

! rxvt-unicode extensions {{{

! configure perl extensions
URxvt*perl-lib: /home/ervandew/.urxvt
URxvt*perl-ext-common: url-select,vim-scrollback

! used by matcher and vim-scrollback
URxvt*urlLauncher: xdg-open

! configure matcher
!URxvt.matcher.rend.0: fg6 Bold
URxvt.matcher.rend.0: fg6

! configure url-select
URxvt.url-select: Mod1-o
URxvt.url-select.launcher: xdg-open

! configure vim-scrollback
URxvt.vim-scrollback: Mod1-s
URxvt.vim-scrollback-paste: Mod1-r
URxvt.vim-scrollback-bg: 10
URxvt.vim-scrollback-fg: 18
! full paths w/ line numbers
URxvt.vim-scrollback.pattern.1: (/[0-9a-zA-Z/.-]+):(\\d+)(?=:|$)
URxvt.vim-scrollback.launcher.1: urxvt +sb -e vim +$2 $1
! lame edge case since ~ is treated literally when opening the file for some
! reason.
URxvt.vim-scrollback.pattern.2: ~(/[0-9a-zA-Z/.-]+)
URxvt.vim-scrollback.launcher.2: urxvt +sb -e vim /home/ervandew$1
! full paths
URxvt.vim-scrollback.pattern.3: (/[0-9a-zA-Z/.-]+)
URxvt.vim-scrollback.launcher.3: urxvt +sb -e vim $1

! disable annoying ctrl+shift functionality
URxvt*iso14755: false

! }}}

! vim:fdm=marker
