! xrdb -load ~/.Xresources

! Options {{{

! fixes gtk font sizes (issue triggered by dual monitors?)
Xft.dpi: 96.0

! use xfontsel to find font in this format.
dzen2*font: -*-terminus-*-r-normal-*-11-120-*-*-*-*-iso8859-*
dzen2*background: #232323
dzen2*foreground: #7e7e7e

! }}}

! vim:fdm=marker
