/* fonts */
.ts-main-flex,
.ts-main-flex .h1,
.ts-main-flex .h2,
.ts-main-flex .h3,
.ts-main-flex .h4,
.ts-main-flex .ts-large-font,
.ts-main-flex h1,
.ts-main-flex h2,
.ts-main-flex h3,
.ts-main-flex h4 {
  font-size: 14px
}

/* shrink far left nav icons */
.app-bar .app-bar-link .app-svg {
  height: 25px;
  width: 25px;
}
/* shrink channel icons */
.channel-list-team-header .team-icon, .pin-channel-list-header .team-icon {
  height: 25px;
  width: 25px;
}

/* shrink channel header */
.ts-title-bar {
  height: 20px;
  padding: 5px 0 0 0;
}
.ts-title-bar .icons-patharrow {
  height: 18px;
  width: 18px;
}
.ts-messages-header .ts-title-bar .ts-title-bar-icon,
.ts-messages-header .team-icon {
  height: 20px;
  width: 20px;
}
.ts-messages-header .ts-title-bar .ts-title-bar-icon {
  margin: 0 5px 0 0;
}
.ts-messages-header .ts-tab-bar-wrapper {
  margin-top: 10px;
}

/* expand message thread to use full width */
.message-list-common .ts-message-list-container,
.message-list-common virtual-repeat > .list-wrap > .item-wrap {
  max-width: 100% !important;
}
/* ditto for chat pages */
.ui-chat {
  max-width: 100% !important;
}

/* move reply button and prevent it from taking up vertical space between messages */
.thread-action-reply-message{
  margin: -10px 0;
  padding: 0;
  position: relative;
  top: -5px;
  left: -9px;
  width: 40px !important;
}
.ts-reply-message .icons-reply.ts-sym {
  background-color: transparent;
  border: none;
  font-size: 11px;
}
/* hide reply icon */
.ts-reply-message .icons-reply.ts-sym svg,
.ts-reply-message .icons-reply.ts-sym:hover .icons-filled {
  display: none;
}
.ts-reply-message .icons-reply.ts-sym span {
  color: #aaa;
  top: -7px;
}
/* the reply box after clicking the button */
.ts-message.reply-is-visible .thread-action-reply-message{
  visibility: visible;
  position: static;
  width: 100% !important;
  padding: 0 0 0 35px;
  margin: 0;
}
/* reduce space of "New conversation" on Teams view */
.ts-new-post-btn-container {
  padding-top: 0;
  height: auto;
}

/* move message actions */
.message-actions-popover-container.reactions-v2-enabled {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 670px !important;
  right: 0 !important;
  margin-top: 12px;
  background-color: transparent;
}

/* hide the out of office banners that keep showing up */
div[aria-labelledby="chat-pane-compose-message-text"] .ui-alert {
  display: none;
}

/* message highlighting when scrolling, make it less annoying looking */
body.acc-keyboard-mode thread .ts-message:after {
  border-color: #ccc !important;
  left: 34px !important;
  bottom: 3px !important;
}
/* ditto for chat (doesn't need width correction) */
body.acc-keyboard-mode thread .message-body:after {
  border-color: #ccc !important;
}

/* shrink padding on message input bar */
.ts-add-message {
  margin: 10px 0;
}
.ts-add-message .new-message-common {
  margin: 0 25px !important;
}
.ts-add-message .ts-new-message {
  margin: 0 !important;
  /* don't use 100% so that notification popups don't hide the input while typing */
  max-width: 80% !important;
}
/* teams thread reply */
.thread-action-reply-message .ts-reply-form-showing {
  max-width: 80% !important;
}
/* ditto for chat */
div[data-tid="message-pane-footer"] {
  margin-left: 0 !important;
}

/* shrink left padding of chat messages */
.ui-chat__item__message {
  float: none !important;
}
